.finalfooter {
  background-color: #d2d3d5;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
}
.finalfooter p {
  color: #2f3a91 !important;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
  align-self: center;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.finalfooter ul {
  color: #000 !important;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
}
.finalfooter a {
  color: #2f3a91;
  text-decoration: none;
}
.footer {
  background: #2f3a91;
  color: #fff;
  padding: 50px 0;
}
