.header {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 100px;
  margin: 0 auto;
  z-index: -1;
  background: url("../public/images/dimg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.bannerimg {
  height: auto;
  width: auto;
  object-fit: contain;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.bannercta {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px;
}
.bannercta span {
  color: #0d6efd;
}
.section1 {
  width: 100%;
}
